
.zoneSelect {
    font-size: 16px;
}

.pagebody.isEditing {
    height: 650px;
}

.isEditing .mainGame {
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
}

.isEditing .link-bar {
    top: auto;
    bottom: 0;
}

.editPanel {
    display: inline-block;
    vertical-align: top;
    right: 20px;
    top: 20px;
    padding: 2px;
}
.editField {
    margin-bottom: 10px;
}
.editPanel select {
    width: 100px;
}

.previewField {
    position: relative;
    margin: 20px;
    width: 96px;
    height: 96px;
}
.previewCanvasContainer {
    position: absolute;
}
.tileProperties {
    background-color: white;
    position: absolute;
    width: 96px;
    height: 96px;
    left: 0;
    top: 0;
}
.topTileProperties {
    position: absolute;
    top: -16px;
}
.bottomTileProperties {
    position: absolute;
    bottom: -16px;
}
.leftTileProperties {
    position: absolute;
    left: -16px;
}
.rightTileProperties {
    position: absolute;
    right: -16px;
}

.leftTileProperties canvas, .rightTileProperties canvas{
    display: block;
}
.topTileProperties canvas, .bottomTileProperties canvas{
    display: inline-block;
}

.foreignZoneSelect {
    margin-bottom: 10px;
}

.brushColumn {
    display: inline-block;
    margin-right: 1px;
    width: 128px;
    vertical-align: top;
}
